body {
    margin: 0;
    padding: 0;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.top-image {
    position: fixed;
    top: -550px;
    left: -300px;
}

.bottom-image {
    position: fixed;
    bottom: -650px;
    right: -300px;
}

.profile-card {
    width: 350px;
    height: 380px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 10px 25px hsla(227, 10%, 46%, 0.185);
    display: flex;
    flex-direction: column;
    font-family: 'Kumbh Sans', sans-serif;
    z-index: 10;
    justify-content: space-between;
    margin-bottom: -20px;
}

.profile-card-image {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -40px;
    border: 5px solid #ffffff;
}

.image-holder {
    display: flex;
    justify-content: center;
}

.hor {
    display: inline-flex;
    justify-content: center;
}

.main {
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
    color: hsl(0, 0%, 27%);
}

.sub {
    font-size: 18px;
    font-weight: 400;
    margin: 5px;
    color: hsl(0, 0%, 59%);
    justify-content: center;
}

hr {
    height: 0.1px;
    border-width: 0;
    width: inherit;
    background-color: hsla(0, 0%, 59%, 0.274);
}

.hor-sub {
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.ver {
    display: flex;
    flex-direction: column;
}

.main-text {
    font-size: 18px;
    font-weight: 700;
    margin: 5px;
    text-align: center;
    color: hsl(0, 0%, 27%);
}

.sub-text {
    font-size: 14px;
    font-weight: 400;
    margin: 5px;
    color: hsl(0, 0%, 59%);
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .top-image {
        position: fixed;
        top: -570px;
        left: -700px;
    }
    .bottom-image {
        position: fixed;
        bottom: -570px;
        right: -700px;
    }
    .profile-card {
        width: 280px;
    }
}